.modo-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #1b0b2e, #2b0f45);
  color: white;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.modo-header {
  height: 100px;
  background-color: #2d1846;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 20px 40px;
  position: relative;
}

.modo-header h1 {
  text-align: center;
  font-size: 28px;
}

.voltar {
  position: absolute;
  left: 30px;
  top: 35px;
  color: #C644E0;
  cursor: pointer;
}

/* OPÇÕES */
.modo-opcoes {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.modo-card {
  width: 480px;
  height: 100px;
  background-color: #2d1846;
  border-radius: 18px;
  border: none;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  cursor: pointer;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.modo-card:hover {
  background-color: #3a235a;
  transform: scale(1.03);
}

.modo-card span {
  text-align: center;
  margin-left: -5px;
}