body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}

.chat-container{
  display:flex;
  height:100vh;
  background:#2e163c;
}

/* SIDEBAR */

.friends-sidebar{
  width:250px;
  background:#35194a;
  border-right:2px solid #d100ff;
  display:flex;
  flex-direction:column;
  padding:20px 10px;
}

.back-button{
  color:#d100ff;
  font-size:22px;
  margin-bottom:20px;
  cursor:pointer;
}

/* AMIGOS */

.friend{
  display:flex;
  align-items:center;
  gap:10px;
  margin:10px 0;
  cursor:pointer;
  color:white;
}

.friend img{
  width:40px;
  height:40px;
  border-radius:50%;
}

/* ÍCONE DE BAIXO */

.hand-icon{
  margin-top:auto;
  font-size:22px;
  color:white;
}

/* AREA DO CHAT */

.chat-area{
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#341545;
}

/* PLACEHOLDER */

.chat-placeholder{
  text-align:center;
  color:#d6c8df;
}

.chat-icon{
  font-size:80px;
  color:#7a5cff;
  margin-bottom:20px;
}